$color-green: #4B9200;
$color-orange: #F9804B;
$color-dark-orange: #E47209;
$color-light-pink: rgba(253, 253, 255, 0.52);
$color-yellow: #FFEE2E;
$color-red: #D31414;
$color-black-blue:#333B41;
$color-gray: #767474;
$color-grey-smoky: #ABABAB;
$color-light-grey:#F1F3F2;
$color-frosted_glass_white:#FDFDFF;
$color-gold: rgb(237, 183, 67);



