<footer id="contacts">
  <div class="main-container">
    <div class="content-container">
      <div class="footer footer__content">
        <div class="footer__logo logo"><p class="logo"><a class="main" href='index.html'>PetStory <span class='logo__bamboo'>o</span>nline</a></p></div>

        <div class="footer__subscribe-block">
          <h4 class="h4__title">Subscribe to our news</h4>
          <form class="footer__subscribe" action="subscribe">
            <input
              type="email"
              class="footer__subscribe-input"
              placeholder="Enter your email"
              required
            />
            <div class="footer__subscribe-btn">Submit</div>
          </form>
        </div>

        <div class="footer__donate-btn btn-polygon">
          <a class="donate-link" target="blank" href="./donate.html"
            >Donate for volunteers</a
          >
        </div>
        <div class="footer__sm-dash">
          <div class="sm__block">
            <div class="sm__icon facebook"></div>
            <a href="https://ru-ru.facebook.com/" target='blank' class="sm__title facebook">Facebook</a>
          </div>
          <div class="sm__block">
            <div class="sm__icon twitter"></div>
            <a href="https://twitter.com/?lang=ru" target='blank' class="sm__title twitter">Twitter</a>
          </div>
          <div class="sm__block">
            <div class="sm__icon instagram"></div>
            <a href="https://www.instagram.com/" class="sm__title instagram" target='blank'>Instagram</a>
          </div>
          <div class="sm__block">
            <div class="sm__icon youtube"></div>
            <a href="https://www.youtube.com/" target='blank' class="sm__title youtube">YouTube</a>
          </div>
        </div>
        <nav class="footer__nav nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-item__link active" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-item__link" href="#map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-item__link" href="#zoos">Zoos</a>
            </li>
            <li class="nav-item">
              <a class="nav-item__link" href="#contacts">Contact us</a>
            </li>
          </ul>
        </nav>
        <div class="footer__copyrights">
          <p class="footer__copyrights-author">Designed by Emilya Kanarskaya</p>
          <p class="footer__copyrights-company">
            ©RSSchool & ©Yem Digital 2022
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
