<header class="header">
  <div class="main-container">
    <div class="header-content content-container header-content__burger">
          <div class="logo">@@include('./logo.html')</div>
         <div class="header__background">
          <nav class="header__nav nav">
            <div class="nav-logo"><a class="main" href='index.html'>PetStory <br><span class='logo__bamboo'>o</span>nline</a></div>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-item__link active" href="index.html">About</a>
              </li>
              <li class="nav-item"><a class="nav-item__link" href="#map">Map</a></li>
              <li class="nav-item">
                <a class="nav-item__link" href="#zoos">Zoos</a>
              </li>
              <li class="nav-item">
                <a class="nav-item__link" href="donate.html">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-item__link" href="#contacts">Contact us</a>
              </li>
              <li class="nav__copyright"><a href="https://www.figma.com/file/ypzT9idgAILaSRVRmDAJxn/online-zoo-3-weeks?node-id=17137%3A3212" target="blank" class="nav__copyright">Designed by &#169</a></li>
            </ul>

            <span class="nav__burger_close"></span>
          </nav>
         </div>
          <div class="header__copyright"><a href="https://www.figma.com/file/ypzT9idgAILaSRVRmDAJxn/online-zoo-3-weeks?node-id=17137%3A3212" target="blank" class="header__copyright">Designed by &#169</a></div>
          <span class="header__burger"></span>
    </div>
  </div>

</header>
